body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  padding-top: 4px;
  width: 8px;
  background-color: rgba(71, 78, 85, 0.78);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #697178;
  border-radius: 4px;
}

a {
  text-decoration: none;
}
/*::-webkit-scrollbar-button:horizontal:start:decrement {*/
/*  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),*/
/*  linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),*/
/*  linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);*/
/*  background-color: #2b5278;*/
/*}*/

/*::-webkit-scrollbar-button:horizontal:end:increment {*/
/*  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),*/
/*  linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),*/
/*  linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);*/
/*  background-color: #2b5278;*/
/*}*/

/*::-webkit-scrollbar-button:vertical:start:decrement {*/
/*  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),*/
/*  linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),*/
/*  linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);*/
/*  background-color: #2b5278;*/
/*}*/

/*::-webkit-scrollbar-button:vertical:end:increment {*/
/*  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),*/
/*  linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),*/
/*  linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);*/
/*  background-color: #2b5278;*/
/*}*/
