.recipient {
  min-height: 50px;
  border-left: 1px solid #000;
  text-align: center;
}

.messagesList {
  flex-grow: 1;
  padding: 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

}

.messageBox {
  max-width: 80%;
  min-width: 45%;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: auto;

}

.messageBox:not(:last-child) {
  margin-bottom: 8px;
}

.time {
  text-align: end;
}

.error {
  color: red;
}
